<!DOCTYPE html>
<html lang="en">
<head>
  <title>Weather Forecast</title>
</head>
<body>
<h3>Weather Forecast</h3>

<form>
  {{ form }}
  <input type="submit" value="Find Weather">
</form>

<div>
  {% if forecast %}

    <div>Weather for: {{ forecast.city.name }}
      ({{ forecast.city.coord.lat }}, {{ forecast.city.coord.lon }})
    </div>
    <hr>

    {% for item in forecast.list %}
      <div>Date: {{ item.dt_txt }}</div>
      <div>Description: {{ item.weather.0.main }}</div>
      <div>Temperature (K): {{ item.main.temp }}</div>
      <hr>
    {% endfor %}
  {% else %}
    <h4>Enter a valid location to see weather info!</h4>
  {% endif %}
</div>

</body>
</html>
