<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <h3>Hello World!</h3>
    <p>I just made the index page for my first Django app. :-)</p>

    <div>Location: {{ forecast.city.name }} ({{forecast.city.coord.lat}}, {{forecast.city.coord.lon}})</div>
    <br>
    <hr>

    {% for item in forecast.list %}
        <div>Date: {{ item.dt_txt }}</div>
        <div>Description: {{ item.weather.0.main }}</div>
        <div>Temperature (K): {{ item.main.temp }}</div>
        <hr>
    {% endfor %}
</body>
</html>
